@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/*font-family     : 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Mulish&display=swap');
/*font-family     : 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
/*font-family     : 'Cuprum', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=El+Messiri&display=swap');
/*font-family     : 'Cuprum', sans-serif;
font-family       : 'El Messiri', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Zen+Kurenaido&display=swap');
/*font-family     : 'PT Sans Narrow', sans-serif;
font-family       : 'Zen Kurenaido', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
/*font-family     : 'Shippori Antique', sans-serif;*/

body {
    background     : #1d1d1d;
    color          : #000;
    text-decoration: none;
    margin         : 0;
    padding        : 0;
    font-family    : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/********************début Scrollbar****************/

.scrollbar {
    position  : absolute;
    top       : 0px;
    right     : 0;
    height    : calc(100vh - 0px);
    width     : 100%;
    overflow-y: scroll;
}

#wrapper {
    text-align: center;
    width     : 500px;
    margin    : auto;
}

#scrollp::-webkit-scrollbar-track {
    background-color: #1d1d1d;
}

#scrollp::-webkit-scrollbar {
    width           : 4px;
    background-color: #1d1d1d;
}

#scrollp::-webkit-scrollbar-thumb {
    background-color: #404eef;
}

/********************fin Scrollbar****************/

.section1 {
    height    : auto;
    width     : 100%;
    background: #1d1d1d;
}

.section6 {
    height    : auto;
    width     : 100%;
    background: #1d1d1d;
    position  : relative;
}

.section1 .header-pc {
    display   : block;
    background: #1d1d1d;
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 70px;
    z-index   : 1;
    box-shadow: #000 0px .5px 10px 0px;
}

.section1 .header-mobile {
    display   : none;
    background: #1d1d1d;
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 70px;
    z-index   : 1;
    box-shadow: #000 0px .5px 10px 0px;
}

.header-nav {
    display     : flex;
    flex-wrap   : wrap;
    width       : 80%;
    height      : 50px;
    margin-left : auto;
    margin-right: auto;
    margin-top  : 10px;
}

.header-nav ul {
    list-style    : none;
    display       : flex;
    flex-direction: row;
}

.header-nav ul li {
    text-decoration: none;
    margin-left    : 10px;
    margin-right   : 10px;
}

.header-nav ul li a {
    margin-left    : 30px;
    margin-right   : 30px;
    color          : #fff;
    text-decoration: none;
}

.header-nav .ulright {
    position: absolute;
    right   : 20vh;
}

@media screen and (max-width: 1280px) {

    .sep1 {
        background: #1d1d1d;
        height    : 30vh;
        width     : 100%;
        position  : absolute;
        top       : 70vh;
        left      : 0;
        clip-path : polygon(100% 50%, -500% 100%, 100% 100%);
    }

    .section1 .header-mobile {
        display: block;
    }

    .section1 .header-pc {
        display: none;
    }


    /*-- Code page --*/


    .menu {
        background   : #ffa600;
        padding      : 8px 20px;
        border-radius: 8px;
        border       : none;
        position     : absolute;
        top          : 15px;
        right        : 10px;
        cursor       : pointer;
        visibility   : visible;
        color        : #fff;
        font-size    : 20px;
    }

    .menu:active {
        background: #404eef;
        color     : #1d1d1d;
        box-shadow: #ffffff29 0px 3px 2px, #ffffff 0px 3px 2px;
    }


    .dropdown {
        display: inline-block;
    }

    .drop-content {
        display         : none;
        position        : absolute;
        background-color: #1d1d1d;
        min-width       : 160px;
        overflow        : auto;
        box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index         : 1;
        top             : 60px;
        width           : 100%;
        left            : 0;
    }

    .drop-content a {
        color          : #404eef;
        padding        : 12px 16px;
        text-decoration: none;
        display        : block;
        text-align     : center;
    }

    .dropdown a:hover {
        background: #7e7e7e;
    }

    .show {
        display: block;
    }
}

.footer {
    background : #1d1d1d;
    width      : 100%;
    height     : 70px;
    display    : flex;
    text-align : center;
    align-items: center;
    position   : relative;
}

.footer p {
    color       : #fff;
    margin-left : auto;
    margin-right: auto;
    position    : relative;
}

.copyright {
    font-size  : 1rem;
    font-family: 'Shippori Antique', sans-serif;
}

.container-ressources {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content:center;
}

.ressources {
    padding      : 20px 20px 20px 20px;
    width        : 25vh;
    height       : 5vh;
    margin-left  : 10px;
    margin-right : 10px;
    margin-top   : 10px;
    margin-bottom: 10px;
    position: relative;
    top:-5vh;
}

.ressources h5 {
    color: #404eef;
    font-family     : 'Shippori Antique', sans-serif;
    font-size: 15px;
}
.ressources ul {
    text-decoration: none;
    list-style: none;
}
.ressources ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.ressources li {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}
.ressources a {
    font-family     : 'Shippori Antique', sans-serif;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color: #fff;
}



.container-staff {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.staff {
    padding      : 20px 20px 20px 20px;
    width        : 10vh;
    height       : 10vh;
    background: url("https://minotar.net/avatar/steve/150.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    border-radius: 5px;
    margin-left  : 10px;
    margin-right : 10px;
    margin-top   : 10px;
    margin-bottom: 10px;
}

.staff h5 {
    color: #fff;
    font-family     : 'Shippori Antique', sans-serif;
    position: relative;
    top:8vh;
    text-align: center;
}

.staff .admin {
    color:#ff3535;
}
.staff .supermod {
    color:#2626ff;
}
.staff .mod {
    color:#4c4cff;
}
.staff .buildeur {
    color:#ffce00;
}

.staff p {
    color: #ffffff;
    font-family     : 'Shippori Antique', sans-serif;
    position: relative;
    top:10.5vh;
    text-align: center;
}

.fab-pos {
    left:-15px;
}

.syrnaxx {
    background: url("https://minotar.net/avatar/Syrnaxx/150.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}
.fabien {
    background: url("https://minotar.net/avatar/fabien_ferrari/150.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}
.pito {
    background: url("https://minotar.net/avatar/pitobibi/150.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}
.zeldik {
    background: url("https://minotar.net/avatar/zeldik_/150.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}
.matt {
    background: url("https://minotar.net/avatar/mattmine74/150.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}
.neyzo {
    background: url("https://minotar.net/avatar/neyzo_/150.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}
.mrfox {
    background: url("https://minotar.net/avatar/Mrfox6/150.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}
